* {
    font-size: 20px;
}

form {
    padding: 5px;
    margin-top: 40px;
}

button {
    margin: 5px;
    border-radius: 5px;
    background-color:white;

}

button:hover {
    background-color: brown;
    cursor: pointer;
    color: white;
    transition: 0.8s;
}